.btn {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  transition: all 0.25s ease;
  margin: 20px auto;
  font-size: 16px;

  &:hover {
    transition: all 0.25s ease;
  }
}

.btn-solid-green {
  background-color: $green;
  color: $light-black;
  &:hover, &:focus {
    background-color: $green-hover;
    color: $light-black;
  }
}

.btn-hollow-green {
  background-color: transparent;
  border: 1px solid $green;
  color: $green;
  &:hover, &:focus, &:visited {
    color: $light-black;
    border: 1px solid $green-hover;
    background-color: transparent;
  }
}

.btn-hollow-green-on-black {
  &:hover {
    color: $green-hover;
  }
}

// this button has a transparent background with blue text and blue border
.btn-blue-hollow {
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  &:hover, &:focus, &:visited {
    background-color: transparent;
    border: 1px solid $blue-hover;
    color: $blue-hover;
  }
}

// this button is transparent w/white text and borders
.btn-white-hollow {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  &:hover, &:focus, &:visited {
    background-color: transparent;
    border: 1px solid #a3cef1;
    color: #a3cef1;
  }
}

.btn-on-blue {
  border: 1px solid $light-black;
  color: $light-black;

  &:hover, &:focus, &:visited {
    background-color: transparent;
    border: 1px solid $light-blk-btn-hover;;
    color: $light-blk-btn-hover;;
  }
}

.btn-medium {
  max-width: 325px;
  max-height: 50px;
  padding: 15px;
}

.btn-lg {
  padding: 12px 16px;
  max-width: 300px;
}

.btn-wide {
  min-width: 275px;
}

.btn-wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 330px;
}