.btn {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 4px;
  border: none;
  transition: all 0.25s ease;
  margin: 20px auto;

  &:hover {
    transition: all 0.25s ease;
  }
}

.btn-solid-green {
  // width: 80%;
  // max-width: 400px;
  background-color: $green;
  color: $light-black;
  &:hover, &:focus, &:visited {
    background-color: $green-hover;
    color: $light-black;
  }
}

.btn-hollow-green {
  background-color: white;
  border: 1px solid $green;
  color: $green;
  &:hover, &:focus, &:visited {
    color: $light-black;
    border: 1px solid $green-hover;
    background-color: white;
  }
}

.btn-fill {

}

.btn-hollow {

}

.btn-lg {
  padding: 16px;
}