.calculator-top {
  background-color: $light-black;
  color: white;
  display: table;
  width: 100%;
  margin-bottom: 1rem;

  h4 {
    color: white;
  }

  a {
    color: white;
    &:hover {
      color: $blue-hover;
    }
  }

  img {
    @include center-block(150px);
    display: inline-block;
    margin-left: 3%
  }
}

.calc-top-section {
  border: 1px solid;
  display: table-cell;
  vertical-align: middle;

  &:first-child {
    width: 65%;

    h4 {
      display: inline-block;
      margin-left: 3%;
    }
  }

  &:last-child {
    width: 35%;
  }

  ul {
    width: 190px;
    float: right;
    margin: 0;
  }

  li {
    font-size: 14px;
    margin: 7px 0;
  }
}

.calculator {

  table { 
    width: 100%; 
    border-collapse: collapse;
    border: 1px solid $light-gray;
    border-bottom: none;
    font-weight: 600;
  }

  td:first-child() {
    text-transform: uppercase;
  }

  tr:nth-of-type(1), tr:nth-of-type(3) { 
    background: #eee; 
  }
  tr:last-child() {
    td {
      border: none;
    }
  }
  th { 
    text-transform: uppercase;
    background-color: white;
    font-weight: bold; 
    text-align: left;
  }
  td, th { 
    padding: 6px; 
    border-left: 1px solid $light-gray; 
    text-align: left; 
  }

  // [data-th="Key Info"] {
  //   padding-left: 8px;
  // }

  .green-bg {
    background-color: $green-hover;
  }

  .blue-text {
    td {
      color: $blue-hover;
    }
  }

  .green-text {
    td {
      color: $green;
    }
  }


  @media only screen and (max-width: 580px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: attr(data-th)": ";  }
    td:nth-of-type(2):before { content: attr(data-th)": ";  }
    td:nth-of-type(3):before { content: attr(data-th)": ";  }
    td:nth-of-type(4):before { content: attr(data-th)": ";  }
    td:nth-of-type(5):before { content: attr(data-th)": ";  }
    td:nth-of-type(6):before { content: attr(data-th)": ";  }
    td:nth-of-type(7):before { content: attr(data-th)": ";  }
    td:nth-of-type(8):before { content: attr(data-th)": ";  }
  }
}