.calc-section-wrapper {
  background-color: $light-gray-hover;
  padding: 3rem 0;
}

.calc-icon {
  max-width: 70px;
  margin-top: 2rem;
}
.calc-intro-text {
  margin-bottom: 2rem;
  p {
    font-size: 18px;
  }
  h3 {
    margin: 2rem 0;
  }
}
.calculator-top {
  background-color: $light-black;
  color: white;
  display: table;
  width: 100%;
  margin-bottom: 1rem;

  h4 {
    color: white;
  }

  a {
    color: white;
    &:hover {
      color: $blue-hover;
    }
  }

  img {
    @include center-block(110px);
    display: inline-block;
    margin-left: 3%
  }
}

.calc-top-section {
  display: block;
  vertical-align: middle;
  @media(min-width: 1200px) {
    display: table-cell;
  }

  &:first-child {
    width: 100%;
    @media(min-width: 1200px) {
      width: 65%;
    }

    h4 {
      display: inline-block;
      margin-left: 3%;
    }
  }

  &:last-child {
    width: 100%;
    @media(min-width: 1200px) {
      width: 35%;
    }
  }

  ul {
    margin: 12px auto;
    display: block;
    text-align: center;
    width: 100%;
    padding: 7px 0;
    @media(min-width: 1200px) {
      width: 190px;
      float: right;
      margin: 0;
    }
  }

  li {
    font-size: 14px;
    margin: 7px 0;
  }
}

.button-wrap {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 25px 0 0;
}

.calculator {
  background-color: white;
  table { 
    width: 100%; 
    border-collapse: collapse;
    border: 1px solid $light-gray;
    border-bottom: none;
    font-weight: 600;
  }

  [data-th="Key Info"], .pad-l {
    @media (min-width: 580px) {
      padding-left: 0.75rem;
    }
  }

  td:first-child() {
    text-transform: uppercase;
  }

  tr:nth-of-type(1), tr:nth-of-type(3) { 
    background: #eee; 
  }
  tr:last-child() {
    td {
      border: none;
    }
  }
  th { 
    text-transform: uppercase;
    background-color: white;
    font-weight: bold; 
    text-align: left;
  }
  td, th { 
    padding: 6px; 
    border-left: 1px solid $light-gray; 
    text-align: left; 
    font-size: 14px;
  }

  .green-bg {
    background-color: $green-hover;
  }

  .blue-text {
    td {
      color: $blue-hover;
    }
  }

  .green-text {
    td {
      color: $green;
    }
  }


  @media only screen and (max-width: 580px)  {

    table, thead, tbody, th, td, tr { 
      display: block; 
    }
    
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50%; 
    }
    
    td:before { 
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%; 
      padding-right: 10px; 
      white-space: nowrap;
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: attr(data-th)": ";  }
    td:nth-of-type(2):before { content: attr(data-th)": ";  }
    td:nth-of-type(3):before { content: attr(data-th)": ";  }
    td:nth-of-type(4):before { content: attr(data-th)": ";  }
    td:nth-of-type(5):before { content: attr(data-th)": ";  }
    td:nth-of-type(6):before { content: attr(data-th)": ";  }
    td:nth-of-type(7):before { content: attr(data-th)": ";  }
    td:nth-of-type(8):before { content: attr(data-th)": ";  }
  }
}

.calculator-bottom {
  background-color: white;
  border: 1px solid $light-gray;
  border-top: none;
  h4 {
    margin: 0;
    padding: 1.5rem 0;
    font-weight: bold;
  }
  input {
    background-color: $light-gray-hover;
    border-radius: 0;
    border: 0;
    margin: 0 10px 0 0;
  }
  select {
    width: 25%;
    max-width: 100px;
  }
  .form-control {
    width: 44%;
  }
  label {
    width: 100%;
    margin: 10px;
    font-weight: 400;
  }
  .form-group {
    &:first-child {
      width: 40%;
      margin-left: 15px;
    }
    &:nth-of-type(2) {
      width: 55%;
    }
  }
  .btn {
    margin: 3px auto 20px;
    width: 200px;
  }
}

#downpayment {
  width: 40%;
  max-width: 150px;
}

#price {
  width: 70%;
}
.ib {
  display: inline-block;;
}

.dollar-sign {
  color: $blueGray-hover;
  font-size: 20px;
  font-weight: bold;
  text-indent: -5px;
  padding-right: 5px;
}