//  ==========================================================================
//  Variables
//  ==========================================================================


//  Colors
//  ==========================================================================

$light-black: #283039;
$light-blk-btn-hover: #137caa;
$black: #000000;
$dark-gray: #3D3D3D;
$med-gray: #80807D;
$light-gray: #BCB9B4;
$font-gray: #7DA09B;
$white-gray: #EAF4FB;
$green: #53DD6C;
$blueGray: #86A9C6;
$blue: #2F8BB4;
$very-light-blue: #E8F3FC;

$light-black-hover: #495867;
$black-hover: #2E2C2D;
$dark-gray-hover: #545454;
$med-gray-hover: #8B8D90;
$light-gray-hover: #EEEDEC;
$white-gray-hover: #F9F9F9;
$green-hover: #44B559;
$blueGray-hover: #A3CEF1;
$blue-hover: #39A9DB;

$light-blue: #BBDBF5;