
h1 {
  @include font-regular(3.0625rem, $light-black, 300, 1.1);
  @include tablet-portrait-and-up {
    font-size: 4.0625rem;
  }
}

h2 {
  @include font-regular(2.8125rem, $light-black, 300, 1.05);
}

h3 {
  @include font-regular(1.5rem, $light-black, 300);
}

h4 {
  @include font-regular(1.25rem, $light-black, 400, 1.25);
}

h5 {
  @include font-condensed(1.125rem, $light-black, 400);
}

h6 {
  @include font-condensed(1rem, $light-black, 600);
}

.h2 {
  @include font-regular(2.8125rem, $light-black, 300);
}

.h3 {
  @include font-regular(1.5rem, white, 300);
}

p {
  line-height: 1.75;
  @include font-size(14px);
}

.sm-gray-font {
  @include font-size(10px);
  color: #9EA6AC;
}

.line-height {
  line-height: 1.75;
}


.font-bold {
  @include font-condensed(1.125rem, $light-black, 700);
}

.font-quote-small {
  @include font-regular(1.125rem, $blue, 300i, 1.125);
}

.font-quote-large {
  @include font-regular(1.875rem, $blue, 300i, 1.125);
}

.blue-header {
  color: $blue;
}