blockquote {
  border-left: none;
}

.blockquote-bg {
  background-color: $white-gray;
  background-image: url('/images/icon-blockquote-house-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  @include tablet-portrait-and-up {
    background-position: center -10px;
    background-size: 60%;
  }

  h2 {
    margin-bottom: 1.25rem;
  }

  .blockquote-copy {
    margin: 30px 0;
  }
}

.blockquote-rule {
  border-color: $light-black;
  margin-top: 2.75rem;
  max-width: 235px;
}

.blockquote-copy {
  // color: $blue;
  position: relative;
  font-style: italic;
  // font-size: 1.875em;
  line-height: 1.4;
}

.blockquote-cite {
  margin: 20px auto;
  display: block;
  font-style: normal;
  @include font-regular(16px, $light-black, 400, 1);
}
