// this styling is to make the carousel display three at a time
.carousel {
  margin: 3rem 0;
  .carousel-inner {
    > .item{
        @media(min-width: 992px) {
        transition: 500ms ease-in-out left;
      }
    }
    .active{
      &.left{

          @media(min-width: 992px) {
          left:-33%;
        }
      }
      &.right{

          @media(min-width: 992px) {
          left:33%;
        }
      }
    }
    .next{
        @media(min-width: 992px) {
        left: 33%;
      }
    }
    .prev{
        @media(min-width: 992px) {
        left: -33%;
      }
    }
    > .item{
        @media(min-width: 992px) {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carousel-control {
    width: 7%;
    &.left, &.right{
      background-image: none;
      &:hover {
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.1) 100%);
        background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0%, rgba(0,0,0,0.1) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
      }
    }
  }
}

// arrow indicators
.arrow-icon-carousel {
  height: 100%;
  width: 20px;
}

.carousel-control {
  &.left {
    @include tablet-portrait-and-up {
      left: -5%;
    }
    @media(min-width: 1200px) {
      left: 0;
    }
    @media(min-width: 1200px) {
      left: -5%;
    }
  }
  &.right {
    @include tablet-portrait-and-up {
      right: -5%;
    }
    @media(min-width: 1200px) {
      right: 0;
    }
    @media(min-width: 1300px) {
      right: -5%;
    }
  }
}
