footer {
  background-color: #EEEDEC;
  padding-bottom: 2rem;
}

.left-links {
  a {
    color: $blue-hover;
  }
  ul {
    margin-top: 1rem;
  }
  li {
    margin-bottom: 20px;
  }
}

.footer-column {
  margin-top: 2rem;
  position: relative;
  padding-top: 1.25rem;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 1px;
    background-color: $light-gray;
  }
}

.locations {

  li {
    margin-bottom: 6px;
  }
}

.no-pad-left {
  padding-left: 0;
}

.footer-contact {
  p {
    margin: 0;
  }
}

.footer-contact-wrapper {
  margin-bottom: 20px;
}

.social-icons {
  a {
    float: left;
    margin-right: 22px;
  }

  img {
    height: 30px;
  }
}

a .twitter-icon {
  height: 24px;
  margin-top: 4px;
}

a .linkedin-icon {
  height: 27px;
}

.org-icon {
  max-width: 48px;
  display: inline;
  margin-right: 0.65rem;
}

.mba-icon {
  max-width: 92px;
}

.ccsafe-icon {
  max-width: 95px;
}

// existing footer styles
.existing-footer {
  background-color: white;
  padding-bottom: 1em;
  .social-icons {
    text-align: center;
    width: 100%;
    a {
      float: none;
    }
  }
}

.footer-logo-wrap {
  margin: 2em 0;
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 10vw;
    height: 2px;
    margin-top: -1px;
    background-color: $light-gray;
    @media(min-width: 410px) {
      width: 19vw;
    }
    @include tablet-portrait-and-up {
      width: 25vw;
    }
  }
  &:before {
    left: auto;
    right: 0;
  }
  img {
    @include center-block(200px);
  }
}

.copyright {
  text-align: center;
  margin-top: 10px;
  color: $light-gray;
}

.existing-footer {
  .container {
    width: 100%;
  }
  .footer-logo-wrap:before, .footer-logo-wrap:after {
    max-width: 270px;
  }
}