//  ==========================================================================
//  Global Layout-esque Settings
//  ==========================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-weight: 400;
  @include font-condensed(1em, $light-black, 400, 1.1);
  @include antialiased;
}

.max-width-container {
  @include tablet-portrait-and-up {
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;
  }
}


li {
	list-style: none;
}

img{
	max-width: 100%;
}

a {
  text-decoration: none;
  color: $blue;
}

ul {
  padding-left: 0;
}

h1 {
  @include font-regular(3.0625rem, $light-black, 300, 1.1);
  @include tablet-portrait-and-up {
    font-size: 4.0625rem;
  }
}

h2 {
  @include font-regular(2.8125rem, $light-black, 300, 1.05);
}

h3 {
  @include font-regular(1.5rem, $light-black, 300);
}

h4 {
  @include font-regular(1.25rem, $light-black, 400, 1.25);
}

h5 {
  @include font-condensed(1.125rem, $light-black, 400);
}

h6 {
  @include font-condensed(1rem, $light-black, 600);
}

.font-bold {
  @include font-condensed(1.125rem, $light-black, 700);
}

.font-quote-small {
  @include font-regular(1.125rem, $blue, 300i, 1.125);
}

.font-quote-large {
  @include font-regular(1.875rem, $blue, 300i, 1.125);
}

.blue-header {
  color: $blue;
}

.margin-top-bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-bottom3 {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.icon-max-width {
  width: 100%;
  max-width: 90px;
}

.pad-top {
  padding-top: 3rem;
  @include tablet-portrait-and-up {
    padding-top: 160px;
    padding-bottom: 65px;
    margin-top: 60px;
  }
}

.gray-text {
  font-size: 18px;
  line-height: 1.25;
  color: $light-blue;
}

.bulleted-list {
  padding-left: 1rem;
  margin: 2rem 0;
  li {
    list-style-type: disc;
    padding-left: 5px;
    margin: 1rem 0;
    line-height: 1.2;
  }
}
