.single-icon-text-button-2up {
  padding: 0 5%;
  @include tablet-landscape-and-up {
    padding: 0 9%;
  }
  p {
    margin: 1.25rem 0;
  }
}

// blue squares module
.module-blue-squares {
  font-size: 18px;
}
.square-blue-light {
  background-color: $blue-hover;
}

.square-blue-dark {
  background-color: $blue;
}

.inner {
  color: white;
  padding: 1.5rem 3rem;
  @include center-block(500px);

  h3 {
    color: white;
  }
  .btn-hollow-on-blue {
    margin: 20px 0;
  }
}

// how it works module
.module-how-works {
  padding-bottom: 1rem;
}


// blue full width module on Agents page
.light-blue-bg {
  background-color: $light-blue;

  .btn {
    margin-left: 0;
    margin-right: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.icon-square-wrap {
  // border: 1px solid red;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;

  div {
    max-height: 200px;
    height: 100%;
    position: relative;
  }
}

.link-box {
  // display: block;
  background-color: white;
  height: 200px;
  img {
    @include center-block(60px);
    height: auto;
  }
}