.pricing-card-section {
  background-color: $light-gray-hover;
  padding: 3rem 0;
}
.pricing-card {
  .well {
    padding: 0;
    min-height: 650px;
    position: relative;
  }
  h4 {
    color: white;
    font-weight: 300;
  }
}

.card-inner-wrap {
  padding: 15px;
}

.gray-top {
  background-color: $light-gray;
  padding: 15px;
}

.green-top {
  background-color: $green;
  padding: 15px;
}

.feature-list {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 25px;

  li {
    list-style-type: disc;
    margin: 13px 0;
  }
}

.price-left {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
  margin-top: 20px;
  span {
    display: block;
  }
}

.details-right {
  display: inline-block;
  width: 65%;
}

.price {
  color: $green;
  margin-bottom: 0;

  .number {
    font-size: 30px;
  }
}

.pricing-card-bottom {
  border-top: 1px solid $light-black;
  padding-top: 8px;
  position: absolute;
  bottom: 15px;
  width: 90%;
  left: 5%;
  @include tablet-portrait-and-up {

  }
}