.team {
  margin-top: 2rem;
}

.team-member {
  color: white;
  padding: 2.25rem 15px; 
  img {
    margin-top: 20px;
  }
  h3 {
    color: white;
  }
  h4 {
    font-size: 18px;
    margin: 15px 0 20px;
  }
}