.team {
  margin-top: 2rem;
}

.team-member {
  // background-color: $blue-hover;
  color: white;
  padding: 2.25rem 15px; 
  img {
    margin-top: 20px;
  }
  h3 {
    color: white;
  }
  h4 {
    font-size: 18px;
    margin: 15px 0 20px;
  }
  &:nth-child(3) {
    @include below-tablet-portrait {
      background-color: $blue-hover;
    }
  }
  &:last-child() {
    @include below-tablet-portrait {
      background-color: $blue;
    }
  }
}